.gitignore
README.md

package.json
pnpm-lock.yaml
pnpm-workspace.yaml   (solo si usás workspaces / monorepo)

next.config.mjs
next-env.d.ts

tsconfig.json
tailwind.config.js
postcss.config.js

eslint.config.mjs

components.json
.env.local
.next/
node_modules/
tsconfig.tsbuildinfo
demo/
# Dependencias
node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno (Sensible)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Varios
.DS_Store
*.pem